 <!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>World!</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static "css/website.css" %}">
	</head>
	 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">Strona główna</a>

			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li><a href="/logout">WYLOGUJ</a></li>
				{% else %}
					<li><a href="/login">ZALOGUJ</a></li>
				{% endif %}
				<li><a href="/continents">KONTYNENTY</a></li>
				<li><a href="/countries">KRAJE</a></li>
				<li><a href="/cities">MIASTA</a></li>
				<li><a href="/gallery">ZDJĘCIA</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="container-fluid" style="padding-top: 70px";>
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>