 <!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>World!</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static "css/website.css" %}">
	</head>
	<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Prevent default anchor click behavior
  event.preventDefault();

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 800, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>
	 <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#myPage">Strona główna</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="#about">OPIS</a></li>
				<li><a href="#continents">KONTYNENTY</a></li>
				<li><a href="#countries">KRAJE</a></li>
				<li><a href="#cities">MIASTA</a></li>
				<li><a href="#gallery">ZDJĘCIA</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="jumbotron text-center">
			<h1>Wszystkie kraje świata</h1>
			<p>Ucz się nowych informacji o państwach, dodawaj te brakujące, działaj!</p>
		</div>
		<div id="about" class="container-fluid">
			<h2>O stronie</h2>
			<h3>Strona umożliwia dodawanie miast i państw, a także przeglądanie tych istniejących.</h3>
			<p>Brakuje Twojego miasta? Spróbuj je dodać!</p>
			<h3><a href="/login">Zaloguj się</a></h3>
			<h3><a href=/register/>Zarejestruj się!</a></h3>
		</div>
		<div id="continents" class="container-fluid bg-grey">
		  <h2>Kontynenty</h2>
		  <h4>Sprawdź wszystkie!</h4>
		  <br>
		  <div class="row">
			{% for continent in continents %}
			<div class="col-sm-4">
			  <h4><a href="{% url "website.views.continent_detail" pk=continent.pk %}">{{ continent.name }}</a></h4>
			  <p>{{ continent.about }}</p>
			</div>
			{% endfor %}
		  </div>
		</div>
		<div id="countries" class="container-fluid">
		  <h2>Kraje</h2>
		  <div class="col-sm-6">
		  <h4><a href="/countries">Spis krajów</a></h4>
		  </div>
		  <div class="col-sm-6">
		  <h4><a href="/country/new">Dodaj kraj</a></h4>
		  </div>
		  </div>
		<div id="cities" class="container-fluid bg-grey">
		  <h2>Miasta</h2>
		  <div class="col-sm-6">
		  <h4><a href="/cities">Spis miast</a></h4>
		  </div>
		  <div class="col-sm-6">
		  <h4><a href="/city/new">Dodaj miasto</a></h4>
		  </div>		  
		</div>
		<div id="gallery" class="container-fluid">
		  <h2>Galeria</h2>
		  <h4>Przykładowe zdjęcia</h4>
		  <div class="row text-center">
			<div class="col-sm-4">
			  <div class="thumbnail">
				<img src="media/images/photos/gdynia.jpg" alt="Gdynia">
				<p><strong>Gdynia</strong></p>
				<p>Polska</p>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="thumbnail">
				<img src="" alt="">
				<p><strong></strong></p>
				<p></p>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="thumbnail">
				<img src="" alt="">
				<p><strong></strong></p>
				<p></p>
			  </div>
			</div>
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>